In [2]:
import pandas as pd

In [344]:
df = pd.DataFrame({'A':np.random.random_integers(1,10,20),
                   'B':[random.choice(['UA','UB']) for _ in range(20)],
                   'C':np.random.random_integers(1,10,20),
                   })

C:\Users\cfd\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead
  """Entry point for launching an IPython kernel.
C:\Users\cfd\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: This function is deprecated. Please call randint(1, 10 + 1) instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [389]:
import numpy as np
import string
import random

df = df.sort_values("A")
print(df)

def f(x):
    return x[x.isin([x.max()])]

ind = df.groupby(by=['A'])['B'].apply(f).index.get_level_values(1)
ind
df[df.index.isin(ind)].sort_values("A")

     A   B   C
8    1  UA   2
7    2  UB   3
15   3  UB  10
19   4  UB   2
12   5  UB   4
6    5  UA   4
9    6  UA   6
4    6  UB   2
5    7  UB   7
14   7  UB   8
10   7  UB   4
18   8  UB   7
11   8  UB   5
1    8  UB   4
16   8  UA   5
17   8  UB   9
0    9  UA   6
3   10  UA   5
2   10  UB  10
13  10  UA   8

     A   B   C
8    1  UA   2
7    2  UB   3
15   3  UB  10
19   4  UB   2
12   5  UB   4
4    6  UB   2
5    7  UB   7
14   7  UB   8
10   7  UB   4
18   8  UB   7
11   8  UB   5
1    8  UB   4
17   8  UB   9
0    9  UA   6
2   10  UB  10